@use "./variables" as var;

header {
    height: 150px;
    margin-bottom: 50px;
    background-color: var.$primary-color;
    nav {
        height: 100%;
        text-align: center;
        line-height: 150px;
        a {
            color: var.$tertiary-color;
            font-family: var.$font-family;
            font-size: 1.5em;
            // text-decoration: ;
            // text-transform: ;
            text : {
                transform: uppercase;
                decoration: none
            }
            margin: {
                left: 10px;
                right: 10px
            }
            transition-property: color;
            transition-duration: 0.4s;
            &:hover {
                color: var.$secondary-color
            }
        }
    }
}

img {
    // border: 2px solid;
    // width: 600px;
    // aspect-ratio: 4/3;
    // object-fit: cover;
    // object-position: center;
}

.fa-html5 {
    color: #f11
}

.fa-coffee {
    color: #781
}

.my-icon {
    font-size: 10em;
    color: #f66
}

.material-symbols-outlined{
    font-size: 10em;
}