// css variables
// :root {
//     --primary-color: #f88
// }

// h1 {
//     color: var(--primary-color)
// }

$primary-color: #1689da;
$secondary-color: #c61c1c;
$tertiary-color: #78d429;

$font-family: "Reddit Mono", monospace;